attrs==23.1.0
beautifulsoup4==4.13.4
certifi==2023.7.22
charset-normalizer==3.2.0
cloudflare==4.1.0
idna==3.10
jsonlines==4.0.0
PyYAML==6.0.1
requests==2.31.0
soupsieve==2.7
urllib3==2.0.5
